.title {
	display: flex;
	align-items: center;
	border-bottom: 4px dotted black;
	width: 800px;
	margin: 0;
	height: 150px;
}

.logo {
	font-size: 60px;
	margin-right: 25px;
}

.creation {
	margin-left: 200px;
	background-color: rgb(225, 235, 159);
	border: 2px solid transparent;
	box-shadow: 2px 2px rgb(123, 122, 122);
}

.heading {
	margin-bottom: 50px;
}

.creation:hover {
	border: 2px solid transparent;
}
