.post {
	background-color: #a4af69;
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 2rem;
	box-shadow: 2px 4px rgb(88, 87, 87);
	width: 250px;
	height: fit-content;
	display: inline-block;
	opacity: 0;
	position: relative;
	animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%); /* Start hidden off bottom */
	}
	100% {
		transform: translateY(0); /* End visible at top */
		opacity: 1; /* Now fully visible */
	}
}

.person {
	color: black;
	font-weight: 500;
	height: 10px;
	font-size: 20px;
}

.text {
	color: white;
	font-style: italic;
	font-size: 20px;
}
